.nav-link {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease 0s;
    background: #dae8e3
}

.nav-link:hover {
    color: #dc585d;
}

.nav-bar-menu {
    background: #dae8e3
}

.nav-link a {
    background: #dae8e3
}

li {
    background: #dae8e3
}

li a {
   background: #dae8e3
}
