.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    width: 25%;
    padding: 0 10px;
    text-align: center;
    background-color: #dc585d;
    opacity: 0.7;
    margin: 10px;
    border-radius: 15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    margin: 10px;
    border-radius: 15px;
  }

  .btnedit{
    border-color: #dae8e3;
    opacity: 1;
    border-style: solid;
  }